<div>
    <h2>
        <span jhiTranslate="democaipApp.story.home.title">Stories</span>
        <button class="btn btn-primary float-right jh-create-entity create-story" [routerLink]="['/', { outlets: { popup: ['story-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="democaipApp.story.home.createLabel">
            Create new Story
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="stories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="democaipApp.story.name">Name</span></th>
            <th><span jhiTranslate="democaipApp.story.description">Description</span></th>
            <th><span jhiTranslate="democaipApp.story.creation">Creation</span></th>
            <th><span jhiTranslate="democaipApp.story.storyPoint">Story Point</span></th>
            <th><span jhiTranslate="democaipApp.story.owner">Owner</span></th>
            <th><span jhiTranslate="democaipApp.story.epic">Epic</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let story of stories ;trackBy: trackId">
                <td><a [routerLink]="['../story', story.id ]">{{story.id}}</a></td>
                <td>{{story.name}}</td>
                <td>{{story.description}}</td>
                <td>{{story.creation | date:'mediumDate'}}</td>
                <td>{{story.storyPoint}}</td>
                <td>
                    {{story.owner?.id}}
                </td>
                <td>
                    <div *ngIf="story.epic">
                        <a [routerLink]="['../epic', story.epic?.id ]" >{{story.epic?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../story', story.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'story/'+ story.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'story/'+ story.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
