<div>
    <h2>
        <span jhiTranslate="democaipApp.epic.home.title">Epics</span>
        <button class="btn btn-primary float-right jh-create-entity create-epic" [routerLink]="['/', { outlets: { popup: ['epic-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="democaipApp.epic.home.createLabel">
            Create new Epic
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="epics">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="democaipApp.epic.name">Name</span></th>
            <th><span jhiTranslate="democaipApp.epic.description">Description</span></th>
            <th><span jhiTranslate="democaipApp.epic.creation">Creation</span></th>
            <th><span jhiTranslate="democaipApp.epic.size">Size</span></th>
            <th><span jhiTranslate="democaipApp.epic.owner">Owner</span></th>
            <th><span jhiTranslate="democaipApp.epic.project">Project</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let epic of epics ;trackBy: trackId">
                <td><a [routerLink]="['../epic', epic.id ]">{{epic.id}}</a></td>
                <td>{{epic.name}}</td>
                <td>{{epic.description}}</td>
                <td>{{epic.creation | date:'mediumDate'}}</td>
                <td *ngIf="epic.size === 'XXS'"> <button class="btn btn-primary" jhiTranslate="{{'democaipApp.EpicSize.' + epic.size}}">{{epic.size}}</button></td>
                <td *ngIf="epic.size === 'XS'"> <button class="btn btn-info" jhiTranslate="{{'democaipApp.EpicSize.' + epic.size}}">{{epic.size}}</button></td>
                <td *ngIf="epic.size === 'S'"> <button class="btn btn-success" jhiTranslate="{{'democaipApp.EpicSize.' + epic.size}}">{{epic.size}}</button></td>
                <td *ngIf="epic.size === 'M'"> <button class="btn btn-secondary" jhiTranslate="{{'democaipApp.EpicSize.' + epic.size}}">{{epic.size}}</button></td>
                <td *ngIf="epic.size === 'L'"> <button class="btn btn-warning" jhiTranslate="{{'democaipApp.EpicSize.' + epic.size}}">{{epic.size}}</button></td>
                <td *ngIf="epic.size === 'XL'"> <button class="btn btn-danger" jhiTranslate="{{'democaipApp.EpicSize.' + epic.size}}">{{epic.size}}</button></td>
                <td *ngIf="epic.size === 'XXL'"> <button class="btn btn-dark" jhiTranslate="{{'democaipApp.EpicSize.' + epic.size}}">{{epic.size}}</button></td>
                <td>
                    {{epic.owner?.login}}
                </td>
                <td>
                    <div *ngIf="epic.project">
                        <a [routerLink]="['../project', epic.project?.id ]" >{{epic.project?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../epic', epic.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'epic/'+ epic.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'epic/'+ epic.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
